
@{
    ViewBag.Title = "About";
}

<div id="about" class="about-main pad-top-100 pad-bottom-100">
    <div class="container">
        <div class="row panel panel-default">
            <div class="panel-body">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeIn;">
                        <h2 class="block-title"> EL RESTAURANTE </h2>
                        <h3>Un rincón acogedor</h3>
                        <p>
                            Cocina rica, hecha con mucha ilusión, para gente que le gusta comer y disfrutar cada bocado de la vida…..

                            Cinco Sentidos es un lugar íntimo en el que puedes saborear a gusto y conversar de forma relajada.

                            Hacemos todo de forma casera y procuramos poner siempre un toque personal en nuestro trabajo diario, por eso somos un restaurante artesanal.

                            Tenemos una bonita barra para tomar tapas recién hechas, y un salón con siete mesas en el que puedes sentarte a comer tranquilamente. A mediodía es un sitio informal con menú del día, por las noches es una sala de luces bajas y velas en las mesas… Por eso dicen que somos un restaurante con encanto.
                        </p>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeIn;">
                        <div class="img-thumbnail">
                            <img class="about-main" src="~/images/portada.jpeg" alt="About Main Image">
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
        </div>
        <!-- end row -->

        <div class="row panel panel-default">
            <div class="col-lg-8 col-md-offset-2 panel-body">
                <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeIn;">
                    <h2 class="block-title"> GRUPO DE TRABAJO  </h2>
                    <h3>LOS MEJORES DE LA CIUDAD</h3>
                    <p>GRACIAS A ELLOS TENEMOS LOS MEJORES SASONE EN LA AREA GASTRONOMICA Y LA MEJOR ATENCION AL CLIENTE QUE PODREMOS BRINDARLE </p>
                </div>
            </div>
        </div> <!-- end row -->

        <div class="row" style="height:120px;">
            <div class="col-sm-6 col-md-4 align-self-start">
                <div class="thumbnail">
                    <img src="~/images/angels.jpeg" alt="...">
                    <div class="caption">
                        <h3>ANGEL GABRIEL BRAVO GARCIA</h3>
                        <p> EL MEJOR CHEF QUE PODRA ENCONTRAR EN LA AREA GASTRONOMCICA </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 align-self-start">
                <div class="thumbnail">
                    <img src="~/images/ferndana.jpg" alt="..." >
                    <div class="caption">
                        <h3>MARIA FERNANDA SALVATIERRA M</h3>
                        <p> CAJERA Y ATENCION AL CLIENTE </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 align-self-start">
                <div class="thumbnail">
                    <img src="~/images/miau.jpg" alt="..." >
                    <div class="caption">
                        <h3>VICENTE FERNANDO CHAMBI</h3>
                        <p> MESERO Y JEFE DE COCINA </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
        @*<div class="row panel panel-default">
            <div class="col-lg-8 col-md-offset-2 panel-body">
                <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeIn;">
                    <h2 class="block-title"> TODO </h2>
                    <h3>IT STARTED, QUITE SIMPLY, LIKE THIS...</h3>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia, nostrud exercitation ullamco. </p>
                </div>
            </div>*@
    </div> <!-- end row -->
    <!-- end container -->
</div>
</div>

