@{
    ViewBag.Title = "Index";
}
<div class="container"><br />
    <div class="row m-4"style="background:black;color:white" >
        <h3 class="text-center mt-3">ZONA REPORTES</h3>
    </div>
    <div class="row" style="height:400px;padding:20px;">
        <a href="/reporte/PDF">
            <div class="h-50 col-sm-3  col-lg-4 col-xs-6 m-3" style="color:black;border:1px solid black;" id="btprod">
                <div class="tab-title-menu">
                    <p class="text-center"><b  style="font-family:Impact;font-size:large;">VENTAS</b></p><br />
                    <p class="text-center"><i class='fas fa-piggy-bank' style='font-size:80px;color:black'></i></p>
                </div>
            </div>
        </a>
        <a href="/reporte/detalles">
            <div class="h-50 col-sm-3  col-lg-4 col-xs-6 ml-3" style="color:black;border:1px solid black;" id="btprod">
                <div class="tab-title-menu">
                    <p class="text-center"><b style="font-family:Impact;font-size:large;">DETALLES BOLETAS</b></p><br />
                    <p class="text-center"><i  class='far fa-save ' style='font-size:80px;color:black'></i></p>
                </div>
            </div>
        </a>            
    </div>
</div>

